/* globals/_variables.css.scss */

$white: #fff;
$baseColor: #f8d32f;
$subColor: #ebf182;
$accentColor: #1E98B9;

$baseTextColor: #444;
$subTextColor: #888;

$borderColor: #eee;

$text-xxlarge : 26px;
$text-xlarge : 22px;
$text-large: 18px;
$text-middle: 16px;
$text-small: 14px;
